<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="{{ url_for('user.register') }}" method="post">
        <p><input type="text" name="username" placeholder="username"></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <p><input type="password" name="repassword" placeholder="confirmed password"></p>
        <p><input type="number" name="phone" placeholder="mobile phone"></p>
        <p><input type="submit" value="user register"></p>
    </form>
</body>
</html>